@page "/books/"

@attribute [Authorize]

@inject IBookRepository _repo

<h3>Index</h3>

@if (Model == null)
{
    <LoadingMessage Message="Loading books"></LoadingMessage>
}
else
{
    <AuthorizeView Roles="Administrator, Customer">
        <a href="/books/create" class="btn btn-primary">
            <span class="oi oi-plus">Create new book</span>
        </a>
        <br />
        <br />
        <br />
    </AuthorizeView>
        @if (Model.Count < 1)
        {
            <LoadingMessage Message="No Books! Create one"></LoadingMessage>
        }
        else
        {
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Author</th>
                        <th>Isbn</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var book in Model)
                {
                    <tr>
                        <td>
                            <img scr="uploads/@book.Image" style="height: 50px;width:50px" />
                        </td>
                        <td>@book.Title</td>
                        <td>@book.Price</td>
                        <td>@book.Author.Firstname @book.Author.Lastname</td>
                        <td>@book.Isbn</td>
                        <td>
                            <a href="/books/view/@book.Id" class="btn btn-primary">
                                <span class="oi oi-book"></span>
                            </a>
                            <AuthorizeView Roles="Administrator">
                                <a href="/books/edit/@book.Id" class="btn btn-primary">
                                    <span class="oi oi-pencil"></span>
                                </a>
                                <a href="/books/delete/@book.Id" class="btn btn-primary">
                                    <span class="oi oi-delete"></span>
                                </a>
                            </AuthorizeView>
                        </td>
                    </tr>
                }
            </table>
        }
        }

        @code {
    private IList<Book> Model;

        protected override async Task OnInitializedAsync()
        {
            Model = await _repo.Get(Endpoints.BooksEndpoint);
        }

        }
